$colour-primary: black;
$colour-secondary: white;
$colour-shades-dark: #404040;
$colour-shades-light: #8c8c8c;

$colour-ui-primary: #009fb2;
$colour-ui-shadow: 0px 6px 12px #00000029;

$font-primary: "Montserrat", sans-serif;
