.comment-container {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;

  hr {
    flex-basis: 100%;
    margin: 0;
  }

  @media screen and (max-width: 640px) {
    max-width: none;
    width: 100%;
  }
}

.comment-img {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: $colour-ui-shadow;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.comment-details {
  a {
    color: $colour-primary;
  }
}
