form {
  max-width: 40rem;
  margin: auto;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input,
  button {
    border-radius: 0% !important;
  }

  input {
    border: 1px solid $colour-primary !important;
  }

  label,
  button {
    font-weight: 600 !important;
  }

  button {
    padding: 0.3rem 2.5rem !important;
    border: 1px solid $colour-primary !important;
  }

  p {
    margin-top: 0.8rem;
  }

  a {
    color: $colour-primary;
    font-weight: 600;
  }
}

.password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i:hover {
    color: $colour-ui-primary;
  }
}

/* Edit Post on Post page */
/* Styling for Tags input on update post */
.tags-input-container {
  max-width: 40rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2rem;

  .tags-input_item {
    background-color: lightgray;
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 20px;
  }

  .tags-input_input-wrapper {
    width: 100%;
  }

  .tags-input_tags-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  .tags-input_close {
    height: 15px;
    width: 15px;
    font-weight: bold;
    color: $colour-primary;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    font-size: 16px;
    cursor: pointer;
  }

  .tags-input_input {
    flex-basis: 100%;
    padding: 0.5em 0;
  }

  .tags-input_text {
    max-width: 100%;
    word-wrap: break-word;
  }
}

.edit-post__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.3rem;
}
