.homepage-banner_container {
  margin: 2rem auto;
  border: none;
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  h1 {
    position: absolute;
    top: 10%;
    left: 5%;
    color: $colour-secondary;

    @media (max-width: 800px) {
      font-size: medium;
    }
  }
}

.homepage-profiles_container,
.homepage-posts_container,
.homepage-followed_users_posts__container {
  margin: 3rem auto;
}

.homepage-profiles_title,
.homepage-posts_title,
.homepage-followed_users_posts__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;

  a {
    font-size: small;
    text-decoration: underline;
  }

  h2 {
    font-weight: bold;
  }
}

.homepage-profiles_title {
  h2 {
    -webkit-text-stroke: 1px $colour-ui-primary;
  }
}

.homepage-profiles_wrapper {
  display: flex;
  gap: 3.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  padding: 2rem 0rem;

  .profile-img_wrapper {
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  button {
    font-weight: 600;
    border-radius: 0% !important;
    padding: 0.1rem 1rem !important;
    border: 1px solid $colour-primary !important;
  }

  .profile-details_counts,
  .profile-hr {
    display: none;
  }
}

.homepage-posts_wrapper {
  height: auto;
  width: 100%;
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
  padding: 2rem 0rem;

  @media screen and (max-width: 600px) {
    gap: 2rem;
  }
}

.homepage-posts_title {
  h2 {
    text-shadow: 2px 2px 0px $colour-shades-light, 4px 4px 0px $colour-secondary,
      6px 6px 0px $colour-ui-primary;
  }
}

.homepage-posts_item {
  display: flex;
  pad: 1rem;
  gap: 3rem;
  padding-left: 10px;
}

.homepage-followed_users_posts__title {
  h2 {
    color: white;
    text-shadow: -1px 1px 0 $colour-ui-primary, 1px 1px 0 $colour-primary,
      1px -1px 0 $colour-shades-dark, -1px -1px 0 $colour-shades-light;
  }
}

.homepage-followed_users_posts__wrapper {
  column-count: 5;
  column-gap: 5px;
  margin-top: 5px;

  @media (max-width: 1200px) {
    column-count: 4;
  }

  @media (max-width: 1000px) {
    column-count: 3;
  }

  @media (max-width: 800px) {
    column-count: 2;
  }

  @media (max-width: 400px) {
    column-count: 1;
  }
}

.homepage-followed_users_posts__item {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
}
