.homepage-banner_container {
  margin: 2rem auto;
  border: none;
}

.homepage-profiles_container,
.homepage-posts_container,
.homepage-followed_users_posts__container {
  margin: 3rem auto;
}

.homepage-profiles_title,
.homepage-posts_title,
.homepage-followed_users_posts__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;

  a {
    font-size: small;
  }
}

.homepage-profiles_wrapper {
  display: flex;
  gap: 3.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  padding: 2rem 0rem;

  .profile-img_wrapper {
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  button {
    font-weight: 600;
    border-radius: 0% !important;
    padding: 0.1rem 1rem !important;
    border: 1px solid $colour-primary !important;
  }

  .profile-details_counts,
  .profile-hr {
    display: none;
  }
}

.homepage-posts_wrapper {
  height: auto;
  width: 100%;
  display: flex;
  gap: 3rem;
  overflow-x: scroll;
  padding: 2rem 0rem;

  @media screen and (max-width: 600px) {
    gap: 2rem;
  }
}

.homepage-posts_item {
  display: flex;
  pad: 1rem;
  gap: 3rem;
}

.homepage-followed_users_posts__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: $container-top-margin;
}
