.landingsite-banner {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    padding: 3.5rem 0rem;
  }
}

.landingsite-text {
  max-width: 90%;
  margin: 3rem auto;
}

.landingsite-form {
  margin: 3rem auto;
}
