#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

a {
  color: $colour-shades-light;

  &:hover {
    color: $colour-ui-primary;
    text-decoration: underline;
  }
}

.spinner {
  margin: 3rem auto;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.alert_msg {
  margin-top: $container-top-margin;
}
