#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

a {
  color: $colour-shades-light;

  &:hover {
    color: $colour-ui-primary;
    text-decoration: underline;
  }
}
