#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

a {
  color: $colour-shades-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
