.nav-bar {
  background-color: $colour-primary;
  box-shadow: $colour-ui-shadow;

  a {
    color: $colour-secondary;
    text-transform: uppercase;

    &:hover {
      color: $colour-ui-primary;
    }
  }

  .nav-bar_dropdown-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-dropdown_user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-dropdown_user-img {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 50%;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }
}

.logo-nav {
  max-height: 3rem;
}

.nav-bar_dropdown > * {
  background-color: $colour-primary;
}
