.nav-bar {
  background-color: $colour-primary;
  box-shadow: $colour-ui-shadow;

  a {
    color: $colour-secondary;
    text-transform: uppercase;

    &:hover {
      color: $colour-ui-primary;
    }
  }
}

.logo-nav {
  max-height: 3rem;
}

.nav-bar_dropdown > * {
  background-color: $colour-primary;
}
