.posts-item {
  width: 400px;
  height: 600px;
  box-shadow: $colour-ui-shadow;
  border-radius: 40px;
  overflow: hidden;

  a {
    color: $colour-primary;
    text-decoration: none;
  }

  @media screen and (max-width: 600px) {
    width: 300px;
    height: 400px;
  }
}

.posts-item_img-wrapper {
  width: 400px;
  height: 450px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @media screen and (max-width: 600px) {
    width: 300px;
    height: 280px;
  }
}

.posts-item_details-wrapper {
  max-width: 80%;
  margin: 1rem auto;

  p {
    overflow: hidden;
    display: block;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.posts-item_actions-wrapper {
  text-align: right;
  margin: 1rem;
}

.posts-item_actions-wrapper i {
  padding: 0rem 0.5rem;
}

//Custom styling for the Posts page
.posts-heading_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3.5rem auto;
  align-items: baseline;
  gap: 0.8rem;

  input {
    padding: 0.3rem 2.5rem !important;
    border: 1px solid $colour-primary !important;
  }

  @media screen and (max-width: 600px) {
    .posts-heading_input,
    input {
      width: 100%;
    }
  }
}

.posts-postlist_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}
